ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #334455;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Roboto Slab', sans-serif;
}

ul.topnav li a:hover:not(.active) {background-color: #0d0d0d;}

ul.topnav li a.active {background-color: #04AA6D;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {float: none;}
}

body {
  background-image: url("https://raw.githubusercontent.com/TheRobotCodingMan/LittleBlog/main/News/Blog%201/floor-tile.png");
  font-family: sans-serif;
}

article {
	font-family: Merriweather, sans-serif;
	background-color: rgba(0, 0, 0, 0.5);
	color: black;
	padding: 2em 3em;
	margin: 4em 5em;
}

h1 {
	text-align: center;
}

img {
	border: 1px solid white;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

figcaption {
	text-align: center;
}

Footer {
	background-color: #737373;
	border-style: dash;
	border-color: black;
	border-width: 15px;
	font-family: 'Oswald', sans-serif;
	padding: 9px;
	color: white;
}
